@model WebDoDienTu.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Thông tin sản phẩm</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-area="admin" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Delete Category</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <div>
                    <h4>Danh mục</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CategoryName)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="CategoryId" />
                        <input type="submit" value="Xóa" class="btn btn-danger" /> |
                        <a asp-action="Index">Trở về</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

